<div class="row mt-3 mb-3 mr-auto">
  <%= link_to "Keep Shopping", instruments_path, class: "btn btn-success" %>
</div>
<hr>
<div>
  <%= render(@cart.line_items) %>
</div>

<div class="row">
  
  <div class="col-md-2">
    <%= button_to "Empty Cart", @cart, method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
  <div class="col-md-10 text-right">
    <span class="display-5">Total:</span>
    <span class="display-4">
      <%= number_to_currency(@cart.total_price) %>
    </span> 
  </div>
</div>
