<% if cart_has_items %>
  <%= link_to cart_path(@cart), class: "navbar-item" do %>
    <span class="mr-1">
      <i class="fa fa-shopping-cart"> Cart</i>
    </span>
    <span class="mr-3 btn btn-primary">
      <%= cart_count_over_one %>
    </span>
  <% end %>
<% end %>
